#container{
    text-align: center;
    margin-top:40%;
    margin-bottom:40%;
    width:100%;
    padding:70px 20px !important;
  }
  h1{
    color:#d42626;
  }
  #username{
    width:75%;
    margin-bottom:15px;
    padding:5px 6px ! important;
  }
  #profile{
    display:none;
    color:#828282;
  }
  #send{
    width:40%;
    margin-left:13px;
  }
  #avatar{
    width:50px;
    border: 1px solid rgb(160, 26, 26);
    border-radius:2px;
    padding:5px;
  }
  #details{
    display:flex;
  }
  
  #follow{
    margin-left:15px;
  }
  #repo_btn{
    border:none;
    color:white;
    padding:5px;
    text-decoration:none;
    display:inline-block;
    font-size:16px;
    font-weight:bold;
    background-color:#de6834;
    border-radius:3px;
    margin:4px 2px;
  }
  
  